* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  margin-right: 1rem;
  width: 2rem;
}
