.navbar {
  max-width: 100%;
  background-color: #fff;
  top: 0;
  position: sticky;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar__container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_logo h6 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #21334f;
}

.menu_icon {
  display: none;
}

.navbar_right {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.nav_links .li {
  text-decoration: none;
  font-weight: 500;
  color: #012a4a;
}

.btn {
  background-color: var(--primary-green);
  border: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    position: relative;
    top: 0;
    position: sticky;
    z-index: 1000;
  }

  .navbar_right {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: var(--color-white);
    z-index: 1000;
  }

  .navbar_right.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100;
  }

  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 0.6rem;
    width: 100%;
    display: table;
  }

  .menu_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .icons {
    margin-top: 0.2rem !important;
  }

  .nav_links li,
  .btn {
    margin-top: 0.9rem;
  }
}
