:root {
  --primary-green: #14a800;
  --secondary-green: #14a8000d;
  --primary-black: #21334f;
  --green-text: #34a853;
  --background-color: #e5e5e5;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

li .active {
  color: var(--primary-green) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
